/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  /* font-family: 75% georgia, sans-serif; */
  font-family: monospace;
}

 html {
  margin: 0;
  padding: 0;
  /* background-color: #FBFBF2;  floralwhite*/
  /* background-color: #E5E6E4; /*platinum*/
  /* background-color: #CFD2CD; lightgrey */
  background-color: #A6A2A2; /*quicksilver*/
  /* background-color: #847577; sonicsilver */
}

body {
  line-height: 1.2;
}

h1 {
  font-size: 72px;
  font-family: impact;
  line-height: 1.2;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #034732;
  text-decoration: underline;
}

a:visited{

}

.timestamp{
  font-style: oblique;
  text-align: left;
}

.article-link {
  color: #26724A;
  font-size: 2em;
}
